head 
    link(rel="stylesheet", href="./css/index.css")
    link(rel="stylesheet", href="./css/rainbow.css")
    link(rel="stylesheet", href="./css/zenonman.css") 

body

    div#home-content
        h1#rainbow Tajne Zakłady Nuklearne

        div#container

    script(src="./js/zenonman.js")
