head 
    link(rel="stylesheet", href="./css/index.css")
    link(rel="stylesheet", href="./css/home.css")
    link(rel="stylesheet", href="./css/rainbow.css")

body

    div#home-content
        h1#rainbow Tajne Zakłady Nuklearne

        p.error Aby się dostać do czeluści strony i wiedzy o TZN musisz znać hasło! Hasło się jednak resetuje częściej niż komputery w sali 209B .. <br> Podpowiedź: Miesiąc i dzień to nowa liczba a hasło sie zmienia jak Zenona historyjka..
