head 
    link(rel="stylesheet", href="./css/index.css")
    link(rel="stylesheet", href="./css/home.css")
    link(rel="stylesheet", href="./css/rainbow.css")
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    title TajneZakladyNuklearne

body

    div#home-content
        h1#rainbow Tajne Zakłady Nuklearne

        form(action="/login", method="post")
            | Hasło tajne oczywiście:   
            input(type="password" name="passwd")
            button(type="submit" id="btn") > 

        p.error #{error}
        if error
            a(href="/howlogin" class="error") hmm 