td {
    width: 25px;
    height: 25px;
    padding: 0px;
    min-width: 25px;
    min-height: 25px;
}

#rainbow {
    text-align: center;
}

table {
    margin-left: 30%;
    margin-right: 30%;
}

#TopBar {
    font-size: 21px;
    text-align: center;
}
    
.floor {
    background-color: rgb(33, 44, 44);
}

.bajkopisarz_zenon {
    background-color: skyblue;
}

.pierwszak {
    background-image: url('../img/zenonman/pierwszak.png');
}

.wall {
    background-color: rgb(15, 15, 15);
}

.coin {
    background-color: rgba(222, 184, 135, 0.449);
}