td {
  width: 30px;
  height: 30px;
  margin: 0;
}

tr {
  margin: 0;
}

.floor {
  background-color: #212c2c;
}

.bajkopisarz_zenon {
  background-color: skyblue;
}

.pierwszak {
  background-image: url("./img/zenonman/pierwszak.png");
}

.wall {
  background-color: #0f0f0f;
}

.coin {
  background-color: burlywood;
}
