td {
    width: 25px;
    height: 25px;
    margin: 0;
}

tr {
    margin: 0;
}
    
.floor {
    background-color: rgb(33, 44, 44);
}

.bajkopisarz_zenon {
    background-color: skyblue;
}

.pierwszak {
    background-image: url('./img/zenonman/pierwszak.png');
}

.wall {
    background-color: black;
}