td {
    width: 28px;
    height: 28px;
    margin: 0;
}

tr {
    margin: 0;
}

#TopBar {
    font-size: 21px;
}
    
.floor {
    background-color: rgb(33, 44, 44);
}

.bajkopisarz_zenon {
    background-color: skyblue;
}

.pierwszak {
    background-color: chocolate;
}

.wall {
    background-color: rgb(15, 15, 15);
}

.coin {
    background-color: rgba(222, 184, 135, 0.449);
}